@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #002e52d8;
    --accent-color-dark: #000b13d7;
    --padding-inline-section: 20px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    list-style: none;
}

/* Utility Classes */
.small-bold-text {
    font-size: 1rem;
    font-weight: 500;
}

/* Top Banner */
.top-banner {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./image/tile_background.png);
    background-size: 300px;
}

.top-container {
    max-width: 768px;
    margin: 0 auto;
}

.banner-text {
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.top-btn {
    border: 0.5px solid #fff;
    border-radius: 6px;
    font-size: 8pt;
    font-weight: 500;
    color: #fff !important;
    padding: 5px 10px;
    transition: 0.2s ease-out;
}